.CartPreview {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 25px;
    right: -300px;
    border: 2px solid black;
    width: 280px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    align-items: center;
    justify-content: center;
}

.CartItems {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    overflow: scroll;

}

.CartItems::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}

.CartItems::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

.CartItems::-webkit-scrollbar-thumb {
    background-color: rgb(43, 43, 43);
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */

}