.CartPreviewItem {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;

}

.Description {
    margin-left: 15%;
}

.Name {
    margin-bottom: 10%;
}

.Image img {
    width: 100px;
    height: 130px;
}