.Header {
    background-color: white;
    opacity: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 4;
}

.Tabs {
    display: flex;
    justify-content: space-between;
    width: 290px;
  
    
}

.Tabs a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.Tabs a:active, .Tabs a.active {
    color: grey;
    text-decoration: underline;
    font-size: 20px;
}

@media(min-width: 420px){
    .Tabs{
        min-width: 400px;
        max-width: 500px;
    }
}